<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="/">Home</a>
                <a href="/search">Search</a>
                <a href="/myjobs">Mylist</a>
            </ul>
        </nav>
       
    </header>
<h1>ALL USA Jobs</h1>

    <section>
        <% jobs.forEach((item)=>{ %>

            <div>
                <p><%= item.title %> </p>
                <p><%= item.company %> </p>
                <p><%= item.location %> </p>
                <p><%= item.url %> </p>
            </div>

       <% }) %> 
        
    </section>
</body>
</html>