<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header{
            background-color: rgb(160, 247, 164);
            height: 100px;
            line-height: 100px;
        }
     header nav ul a {
      padding:  5px;
      text-decoration: none;
      
    }
    header nav ul a:hover {
      color: blue;
      
    }
    .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    }
    h1{
      text-align: center;
    }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="/">Home</a>
                <a href="/search">Search</a>
                <a href="/myjobs">Mylist</a>
            </ul>
        </nav>
       
    </header>
<h1>SEARCH</h1>
<div class="center">
<form action="/jobSearch">
    <label for="se">Description</label>
    <input type="text" id="se" name="description">
    <button type="submit">Search</button>
</form>
</div>
   
</body>
</html>